@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome into the future of charging</h1>
    <p>Small things can do a better world</p>

    <img src="https://astros.in/wp-content/uploads/2018/10/electrifyamericachargersbybtcpower1.jpg" class="img-fluid" alt="Charge IT">
</div>
