html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.add-button {
    margin-bottom: 15px;
}

.margin-bottom-40 {
    margin-bottom: 20px;
}

.margin-top-40 {
    margin-bottom: 20px;
}

.margin-right-auto {
    margin-right: auto;
}

.mb-forms {
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 10px;
}

.form-input {
    padding: 10px;
}

.details-label-form {
    font-weight: bold;
}

.icon-button {
    color: white;
    margin-right: 5px;
}