html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.add-button {
    margin-bottom: 15px;
}

.mb-forms {
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 10px;
}

.form-input {
    padding: 10px;
}

.details-label-form {
    font-weight: bold;
}