@model BookingsViewModel
@{
    ViewData["Title"] = "Bookings Page";
}

<h1 class="margin-bottom-40">Schedule a new Booking</h1>

<form asp-controller="Bookings" asp-action="AddNewBooking" method="post">
    <div class="form-group">
        <label asp-for="ChargeMachineId" class="col-md-2 control-label text-white"></label>
        <div class="col-md-12">
            <select asp-for="ChargeMachineId" asp-items="@(new SelectList(Model.ChargeMachines, "Id", "Code"))" class="form-control">
                <option value="0">Select a recharge slot</option>
            </select>
            <span asp-validation-for="ChargeMachineId"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="ChargeMachines" asp-action="Index">Cancel</a>

</form>